#main-content {
	margin-top: 85px;
}

#login-hero {
	background: url('/img/hero.jpg');
	background-size: cover;
	height: 500px;
	padding-left: 70%;
	padding-top: 20%;
}

#login-hero h1 {
	color: #ffffff;
}

#new-dashboard-profile-selector {
	display: flex;
}

.ga-selector {
	flex: 1;
}

.chart rect {
	fill: steelblue;
}

.chart text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: end;
}