<!DOCTYPE html>
<html>
<head>
    <title>Analytics Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="brand" href="#">Analytics Dashboard</a>
	        </div>
	    </div>
	</div>
	<div class="container" id="main-content">
	    
	    <form action="javascript:void(0);">
	    	<h2>Google Login</h2>
	    	<div>
	    		<input type="submit" class="btn btn-default" id="createAccount" value="Login">
	    	</div>
	    </form>
	    

	
	
	
	</div>
	    
    <script type="text/template" id="account-view">
	    <div class="panel-heading">
	    	<div class="panel-title">
	    		<h2>Welcome, <%= username %></h2>
				<button class="btn btn-default" id="add-dashboard">New Dashboard</button>
				<div class="well well-lg" id="dashboard-selector">
					<% _.each(dashboards, function(dashboard) { %>
						<div class="col-md-3">
							<%= dashboard.name %>
						</div>
					<% }); %>
				</div>
				
				
	    	</div>
	    </div>
	    <div class="panel-body" id="account-view-body">
	    </div>
	</script>
    
    <script type="text/template" id="dashboard-select">
    </script>
    
    <script type="text/template" id="create-dashboard-template">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Create New Dashboard</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="input-group">
							<span class="input-group-addon">Title:</span>
							<input type="text" class="form-control" placeholder="Enter dashboard title..." id="new-dashboard-title">
						</div>
						<input type="hidden" id="new-dashboard-account">
						<input type="hidden" id="new-dashboard-property">
						<input type="hidden" id="new-dashboard-profile">
					</div>
					<h4>Select Account/Property/Profile</h4>
					<div class="row" id="new-dashboard-profile-selector">
						<div class="ga-selector col-md-4" id="ga-accounts"></div>
						<div class="ga-selector col-md-4" id="ga-properties"></div>
						<div class="ga-selector col-md-4" id="ga-profiles"></div>
					</div>			
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="new-dashboard-submit">Create</button>
				</div>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="ga-account-resources">
		<a href="#" class="list-group-item ga-resource" data-id="<%= id %>">
			<p><strong><%= name %></strong></p>
			<em><%= id %></em>
		</a>
	</script>
	
	<script type="text/template" id="edit-dashboard">
		<div class="row">
			<div class="col-md-3">
				<ul class="list-group">
					<li class="list-group-item">Account: <%= accountId %></li>
					<li class="list-group-item">Property: <%= propertyId %></li>
					<li class="list-group-item">Profile: <%= profileId %></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3><%= title %></h3>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary">Save</button>
			</div>
		</div>
		<div class="row">
			<label>Chart Title: 
				<input type="text" id="new-widget-title">
			</label>
			<label>Dimensions: 
				<input type="text" id="new-widget-dimensions" placeholder="What you want to measure.">
			</label>
			<label>Metrics: 
				<input type="text" id="new-widget-metrics" placeholder="How you'll measure it.">
			</label>
			<label>Filters: 
				<input type="text" id="new-widget-filters" placeholder="Narrow things down.">
			</label>
			<label>Start Date: 
				<input type="text" id="new-widget-start">
			</label>
			<label>End Date: 
				<input type="text" id="new-widget-end">
			</label>
			<button class="btn btn-default" id="new-widget-submit">Add Chart</button>
		</div>	
	</script>
	
	<script type="text/template" id="widget-template">
		<%= title %>
		<svg class="chart"></svg>
	</script>
	    
	
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
        function init() {
            App.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>
